* {
      padding: 0;
      margin: 0 auto;
}

header {
      background-image: url(img/cool-background\ \(1\).png);
      width: 100%;
      max-width: 200%;
      height: 100vh;
}

nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(0, 0, 0, .2);
      width: 100%;
      max-width: 100%;
      color: #fff;
}
#home {
      width: 80px;
      height: 60px;
      padding-top: 420px;
      cursor: pointer;
      position: fixed;
}

@media screen and (max-width: 1366px) and (min-width: 1366px) {
      .div2 h1{
        padding-left: 200px;
        padding-top: 350px;
      }
    } 

    @media screen and (max-height: 768px) and (max-height: 768px) {
      .div2 h1{
        padding-left: 200px;
        padding-top: -350px;
      }
    } 

nav ul {
      display: flex;
      list-style: none;
      padding: 40px;
}

nav ul li {
      text-decoration: none;
      padding: 0px 20px;
      cursor: pointer;
      font-size: 18px;
      transition: ease-out 0.3s;
}

nav img {
      width: 300px;
      height: 130px;
}

nav ul li:hover {
      background-color: rgb(102, 4, 135);
      border-radius: 23px;
      transition: 0.60s;
      color:#fff;
      font-size: 21px;
      overflow: hidden; 
}


.div1 {
      max-width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: 10vh; 
}

.div1 h1 {
      display: flex;
      justify-content: center;
      font-size: 50px;
      padding: 30px;
      color: #fff;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.div1 button {
      align-items: center;
      transition: ease-out 0.3s;
      background-color: rgb(12, 31, 239);
      box-shadow: inset 0 0 0 0 #8105a6;
      color: #fff;
      outline: none;
      width: 220px;
      height: 50px;
      border-radius: 20px;
      font-size: 19px;
      margin-top: 60px;

}

.div1 button:hover {
      transition: 0.60s;
      cursor: pointer;
      box-shadow: inset 220px 0 0 0 #8105a6;
      color: black;
      font-size: 21px;
}


.div2 {
      background-color: #fff;
      color: black;
      max-width: 100%;
      width: 200%;
      height: 65vh;
}

.div2 h1 {
      display: flex;
      justify-content: center;
      padding: 0px;
      padding-top: 65px;
      font-size: 52px;
      color: black
}


.div2 p {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 23px;
      padding: 60px;
}  

.div2 button{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
      width: 200px;
      height: 40px;
      border-radius: 20px;
      cursor: pointer;
      font-size: 20px;
      color: black;
      transition: ease-in-out 0.3s;
}

.div2 button:hover {
      box-shadow: inset 200px 0 0 0 rgb(47, 165, 255);
      transition: 0.80s;
      font-size: 22px;
}

.div2 a {
      list-style: none;
      text-decoration: none;
}


@media screen and (max-width: 1366px) {
      .div1  {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 120px;
      }
    }

    @media screen and (max-width: 1366px) {
      .div1 button  {
      margin-left: 21px;
      
      }
    }

@media screen and (max-width: 768px) {
      nav  {
      display: flex;
      flex-direction: column;
      }
    } 

    @media screen and (max-width: 1024px) {
      .div2{
            height: 100vh;
      }
    }
    @media screen and (max-width: 1366px) {
      .div2 h1{
        padding-left: 90px;
        padding-top: 60px;
      }
    } 

    @media screen and (max-width: 1366px) {
      .div2 p{
        padding-left: 90px;
        padding-top: 5px;
        font-size: 20px;
      }
    } 
    @media screen and (max-width: 1366px) {
      .div2 hr {
        padding: 20px;
      }
    } 


.div3 {
      background-color: rgba(255, 255, 255, 0.688);
      max-width: 100%;
      width: 200%;
      height: 80vh;
}

.div3 h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 100px;
      font-size: 49px;
}
.div3 p {
      display: flex;
      justify-content: center;
      font-size: 23px;
      color: black;
      padding: 50px;
}

.div3 hr{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 180px;
      margin-top: 120px;
      border: 1px solid  black;
}

 


#hr1 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 180px;
      margin-top: -50px;
      border: 1px solid  black;
}

@media screen and (max-width: 1366px) {
      .div3{
      display: flex;
      flex-direction: column;
      }
    } 


.div4 {
      color: black;
      max-width: 100%;
      width: 200%;
      height: 80vh;
      padding-top: 430px;
      
}

.sliedes {
      background-color: gray;
      width: 200vh;
      height: 60vh;
}


    @import url(https://fonts.googleapis.com/css?family=Varela+Round);

.sliedes { background: rgba(0, 0, 0, 0.679) url("https://codepen.io/images/classy_fabric.png"); padding-top: 100px; align-items: center;}

      
.slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
}

.nav-dots .nav-dot:hover {
	cursor: pointer;

}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}

