* {
      padding: 0;
      margin: 0 auto;
}

header {
      background-image: url(img/cool-background\ \(1\).png);
      width: 100%;
      max-width: 200%;
      height: 100vh;
}

nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(0, 0, 0, .2);
      width: 100%;
      max-width: 100%;
      color: #fff;
}
#home {
      width: 80px;
      height: 60px;
      padding-top: 350px;
      cursor: pointer;
      position: fixed;
}

@media screen and (max-width: 1366px) and (min-width: 1366px) {
      .div2 h1{
        padding-left: 200px;
        padding-top: 350px;
      }
    } 

    @media screen and (max-height: 768px) and (max-height: 768px) {
      .div2 h1{
        padding-left: 200px;
        padding-top: -350px;
      }
    } 

nav ul {
      display: flex;
      list-style: none;
      padding: 40px;
}

nav ul li {
      text-decoration: none;
      padding: 0px 20px;
      cursor: pointer;
      font-size: 18px;
}

nav img {
      width: 300px;
      height: 130px;
}

nav ul li:hover {
      transition: 0.60s;
      color: red;
      font-size: 20px;
}
.div1 {
      max-width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: 270px; 
}

.div1 h1 {
      font-size: 56px;
      padding: 10px;
}

.div1 button {
      width: 230px;
      height: 30px;
      border-radius: 20px;
      font-size: 19px;
}

.div1 button:hover {
      transition: 0.60s;
      cursor: pointer;
      background-color: red;
      color: black;
      font-size: 21px;
}


.div2 {
      background-color: rgb(5, 46, 80);
      color: #fff;
      max-width: 100%;
      width: 200%;
      height: 65vh;
}

.div2 h1 {
      padding: 0px;
      padding-left:220px;
      padding-top: 80px;
      font-size: 52px;
}

.div2 p {
      padding-left:220px;
      font-size: 19px;
      padding-top: 10px;
      margin-top: 5px;
}  

.div2 img {
      position: relative;
      padding-left: 890px;
      margin-top: -110px;
      width: 590px;
      height: 340px;
      border-radius: 10px;
}

@media screen and (max-width: 1366px) {
      .div1  {
      display: flex;
      justify-content: center;
      }
    }

@media screen and (max-width: 768px) {
      nav  {
      display: flex;
      flex-direction: column;
      }
    } 

    @media screen and (max-width: 1024px) {
      .div2{
            height: 100vh;
      }
    }
    @media screen and (max-width: 1366px) {
      .div2 h1{
        padding-left: 90px;
        padding-top: 60px;
      }
    } 

    @media screen and (max-width: 1366px) {
      .div2 p{
        padding-left: 90px;
        padding-top: 5px;
        font-size: 20px;
      }
    } 

@media screen and (max-width: 1366px) {
      .div2 img {
        padding-left: 790px;
        margin-top: -85px;
        width: 520px;
        height: 300px;
      }
    } 
    hr {
      color: black;
      width: 50%;
    }

.div3 {
      background-color: rgb(5, 46, 80);
      max-width: 100%;
      width: 200%;
      height: 80vh;
}